@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&family=Open+Sans+Condensed:wght@300&display=swap');
body {
	margin:0;
	background-color: #0c0c0e;

}

.full-page {
	position: relative;
	padding:0;
	z-index: 100;
}
.wrap-background01 {
	background-color: #0c0c0e;
	position: fixed;
	top:0;
	left: 0;
	z-index:20;
	transition: top 2.5s;
	transition-timing-function: ease-in-out;

}
.wrap-background02{
	position: absolute;
	/*background: url('bg3.png');*/
	background-color: #0c0c0e;
	z-index:10;
}
.wrap-background03{
	position: fixed;
	z-index:30;
}

.wrap-background03 .wrap-tb-num {
	position:absolute;
	bottom: -100px;
	left: 0;
}
.transform180 {
	transform: rotate(90deg);
}

.wrap-background03 p {
	max-width: 500px;
	color:white;
	position:absolute;
	bottom: 0;
	left: 0;
}
.wrap-background02 img {
	width: 900px;
	position: relative;
	object-fit: contain;
	top:0;
	left:0;
}



.container {
	margin:0 auto;
	max-width: 1500px;
	height: 100%;
	display: flex;
    flex-direction: column;
    color: #a18a8a
   	/*overflow:  hidden;*/
    background-color: #0c0c0e;
}
.row-first {
	flex-basis: 12%;
	/*background-color: #2b2b2b;*/
	margin: 10px;
	display: flex;
}

.row-second {
	flex-basis: 40%;
	/*background-color: #2b2b2b;*/
	margin: 10px;
	display: flex;
}

.side-left {
	width: 100%;
	height: 100%;
	/*background-color: #acaf7f;*/
}
.side-right {
/*	width: 100%;
	height: 100%;
	background-color: #588773;*/
}
.row-first .side-left {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.menu {
	position: relative;
	/*left:-120px;*/
}
.menu a {
	font-size: 20px;
    /*font-family: 'Rajdhani', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Teko', sans-serif;*/

    font-family: 'Roboto Condensed', sans-serif;

	color:#484ae5;
	padding-right: 20px;
}

.row-second .side-left {
	display: flex;
}

.row-second .side-left .row2-colum1, .row2-colum3 {
	border: 1px solid black;
	/*width: inherit;*/
	/*margin: 10px 7px;*/
}
.row-second .side-left .row2-colum2 {
	border: 1px solid black;
	margin: 10px 7px;
}

.row-second .side-left .wrap-row2-colum2-row1-2-3 {
	width: 328px;
	height: 433px;
}
.row-second .side-left .row2-colum3 {
	/*flex-basis: 20%;*/
	/*flex-basis: 100px;*/
}
.row-second .side-left .row2-colum4 {
	width: 800px;
	display: flex;
	flex-direction: column;

	/*justify-content: center;*/
	/*align-items: center;*/
	/*flex-basis: 100px;*/
}

.row-second .row2-colum4 .wrapper-row2-colum4 p {
	padding-top:40%;
	font-family: 'Roboto Condensed', sans-serif;
	color: white;
	margin-left: -50px;
}

.row2-colum5 {
	/*background-color: #B99E9E;*/
	/*flex-basis: 150px;*/
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	margin-left: 20px;
}
.tline {
	opacity: 0;
	background-color: white;
	height: 12px;
	border:solid 1px black;
	margin-bottom: 10px;
	transition: opacity 0.3s ease-in;
	width: 120px;
}

.wrapper-line-box {
	height: 380px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	/*background-color: black;*/
}
.wrapper-line-box div{
	/*align-self:center;*/
}

.row-second .side-left .row2-colum1 {
	flex-basis: 40%;
}

.row2-colum2 {
	display: flex;
	flex-direction: column;
}
.row2-colum2 .row2-colum2-row1, .row2-colum2-row2, .row2-colum2-row3 {
	border: 1px solid black;
}
.row2-colum2 .row2-colum2-row3, .row2-colum2-row2 {
	width: 275px;
}

.row2-colum2 .row2-colum2-row1 {
	flex-basis: 20%;
}

.row2-colum2 .row2-colum2-row4 {
	/*overflow: hidden;*/
	opacity: 0;
	display: flex;
	flex-wrap: wrap;
	width: 270px;
	justify-content: center;
	transition: opacity 0.6s ease-in;

	/*display: flex;*/
	/*margin-left: 20px;*/
	/*height: 500px;*/
}

.curtain-left, .curtain-right {
	font-family: 'Open Sans Condensed', sans-serif;
	color:red;
	width: 130px;
	height: 100%;
	font-size: 100px;
	padding: 0;
	margin:0;
	top:-125px;
	left:0;
	transition: all 0.6s ease-in;
	transition-property: left, top, opacity;
	/*transition: top 0.6s ease-in;*/
	background-color: #0c0c0e;
	/*transition-property: left, top;*/
}

.curtain-left {
	
	position: relative;
	
	text-align: right;
	/*left: -200px;*/

}
.plus-symbol {
	opacity: 0;
	position: relative;
	font-size: 50px;
	transition: opacity 0.1s ease-out;
}
.curtain-left .plus-symbol {
	top:-10px;
	left: -21px;
}
.curtain-right .plus-symbol {
	top: -200px;
}


.curtain-right {
	position: relative;
	height: 130px;
}

.row2-colum2 .row2-colum2-row2{
	flex-basis: 63%;
}
.row2-colum2 .row2-colum2-row1 {
	text-align: left;
}

.logo_t {
	position: relative;
	top:0;
	opacity: 0;
	color:white;
	font-size: 63px;
	color: white ;
    font-family: 'Inter', sans-serif;
	transition: opacity 0.5s ease-in;
	transition: top 0.3s ease;

}


.row2-colum3 {
	display: flex;
	/*justify-content: center;*/
	align-items: baseline;
}
.row2-colum3 .GHJd {
	/*flex-basis: 20%;*/
	opacity: 0;
	height: 56px;
	margin-top: 23px;
	padding-left: 27px;
	border-left: 3px solid white;
	font-family: 'Roboto Condensed', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity 0.3s ease-in;
	
}
.row2-colum3 .GHJd .wrapp-row2-colum3 {
	color: white;
	font-size: 16px;
}


.row2-colum2-row2 {
	padding: 8px;
}

.barcode-box {
	display: flex;
	height: 250px;
}
.vblock {
	width: 10px;
	/*background-color: black;*/
	display: flex;
	margin:0 1.5px;
	/*border-left: 2px solid white;*/
}
.vblock:not(.v-first) {
	opacity: 0;
}

.vblock ~ .vblock {
	width: 3px;
	border-left: 3px solid white;
	margin:0;
}

.vblock:nth-child(2){
	margin-left: 40px;
}
.vblock:nth-child(7){
	margin-left: 12px;
}
.vblock:nth-child(8){
	margin-left: 12px;
}
.vblock:nth-child(10){
	margin-left: 70px;
}
.v-first{
	display: flex;
	flex-direction: column;
}

.v-first div {
	flex-basis: 25%;

}

.barcode-box .vblock div {
	
}

.v-first .el1, .el2, .el3, .el4 {
	opacity: 0;
	border-left: 4px solid red;
	border-right: 4px solid red;
	transition: opacity 0.25s ease-out;
}
/*15sec 2min*/
/*=============*/

.logo-block01 {
	opacity:0;
	/*background-color: white;*/
	height: 100%;
	transition: opacity 0.7s ease-in;
}
.logo-block01 div img {
	width: 90%;
}

/*===row-three====*/
.row-three .side-left {
	display: flex;
}

.row-three .side-left .row3-colum1, .row3-colum2, .row3-colum3  {
	/*border: 1px solid black;*/
	/*width: inherit;*/
	/*margin: 10px 7px;*/
}

.row-three .side-left .row3-colum2 {
	/*flex-basis: 387px;*/
}
.row-three .side-left .row3-colum1 {
	/*flex-basis: 40%;*/
}
.row-three .side-left .row3-colum3{
	/*flex-basis: 20%;*/
}
.row-three .side-left .row3-colum2 {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
	flex-direction: column;
	overflow: hidden;
}

/*============table nums*/
.table-num {
	width: 200px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin:10px;
}

/*.table-num ~ .table-num {
	margin-top: 30px;
    transform: rotate(90deg);
}*/


.wrap-row {


    /*font-family: 'Rajdhani', sans-serif;*/
    /*font-family: 'Oswald', sans-serif;*/
    font-family: 'Teko', sans-serif;

    /*font-family: 'Roboto Condensed', sans-serif;*/

	color: #c9c9c9;
    width: inherit;
    font-size: 12px;
    /*height: 20px;*/
    /*background-color: #326674;*/
    margin-top: -7.4px;
    display: flex;
    align-items: flex-end;

}


.table-num .wrap-row .el, .el-first {
    /*padding: 1px 2px;*/
    /*margin:0;*/
    /*border: 1px solid black;*/
}
.wrap-tb-num {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	position: relative;
   	/*top: -900px;*/
    /*left: -300px;*/
    transition: left 0.3s;

}

.table-num .wrap-row .el-first {
    flex-basis: 25%;
}
.table-num .wrap-row .el {
    flex-basis: 16%;
}
.dot-symbol {
	font-size: 23px;
	color:white;
	margin-top:-10px;
}
.dot-symbol2 {
	opacity: 0;
	font-size: 18px;
	color:white;
	margin-top:-10px;
	transition: opacity 0.2s ease-in;
}